LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_API_KEY=
LLM_MODEL=
LLM_TIMEOUT=180
LAYOUT_RENDER_DPI=180
LAYOUT_MAX_PAGES=50
QWEN_RESIZE_PRESET=default
QWEN_IMAGE_PROFILE=qwen3_6
QWEN_RESIZED_WIDTH=1536
QWEN_RESIZED_HEIGHT=2176
